<!-- Navbar-->
  <nav class="navbar navbar-toggleable-md navbar-default navbar-absolute">
      <div class="container">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-bar"></span>
              <span class="navbar-toggler-bar"></span>
              <span class="navbar-toggler-bar"></span>
          </button>
          <a class="navbar-brand mb-0" href="/"><img src="/img/RXlogo.png" alt="Logo" style="width:40%;"></a>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                  <a href="#" class="btn btn-link btn-neutral">About Us</a>
                  <a href="#" class="btn btn-link btn-neutral">Contact</a>
              </ul>
          </div>
      </div>
  </nav>

  <div class="header-3">
      <div class="page-carousel">
          <div class="filter"></div>
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active" style="background-color: #000;"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1" style="background-color: #000;"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2" style="background-color: #000;"></li>
              </ol>
              <div class="carousel-inner" role="listbox">
                  <div class="carousel-item active">
                      <div class="page-header" style="background-image: url('https://images.pexels.com/photos/415825/pexels-photo-415825.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
                          <div class="filter"></div>
                          <div class="content-center">
                              <div class="container">
                                  <div class="row">
                                      <div class="col-md-6 text-left">
                                          <h1 class="title">RxControl</h1>
                                          <h5>Enhanced Presciption Verification</h5>
                                          <br />
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="carousel-item">
                      <div class="page-header" style="background-image: url('https://images.pexels.com/photos/806427/pexels-photo-806427.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')">
                          <div class="filter"></div>
                          <div class="content-center">
                              <div class="container">
                                  <div class="row">
                                      <div class="col-md-8 offset-2 text-center">
                                          <h1 class="title">Awesome Experiences</h1>
                                          <h5>Now you have no excuses, it's time to surprise your clients, your competitors, and why not, the world. You probably won't have a better chance to show off all your potential if it's not by designing a website for your own agency or web studio.</h5>
                                          <br />
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="carousel-item">
                      <div class="page-header" style="background-image: url('https://images.pexels.com/photos/40751/running-runner-long-distance-fitness-40751.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')">
                          <div class="filter"></div>
                          <div class="content-center">
                              <div class="container">
                                  <div class="row">
                                      <div class="col-md-7 offset-5 text-right">
                                          <h2 class="title">Premium Offers for Venice</h1>
                                          <h5>Now you have no excuses, it's time to surprise your clients, your competitors, and why not, the world. You probably won't have a better chance to show off all your potential if it's not by designing a website for your own agency or web studio.</h5>
                                          <br />
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <a class="left carousel-control carousel-control-prev" href="#carouselExampleIndicators" style="background-color: #000;"role="button" data-slide="prev">
                  <span class="fa fa-angle-left"></span>
                  <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next" style="background-color: #000;">
                  <span class="fa fa-angle-right"></span>
                  <span class="sr-only">Next</span>
              </a>
          </div>
      </div>
  </div>


  <div class="index-body-1">
    <img src="/img/RXlogo.png" style="width: 28%;">
  </div>
  <div class="buttons" style="padding-bottom: 25px;">
    <div class="login-button">
      <a href="/pharmacist" class="button">Log In</a>
    </div>
    <div class="register-button">
      <a href="/signup" class="button">Register</a>
    </div>
</div>

  <div class="wrapper">
      <div class="section text-center landing-section">
          <div class="container">
              <div class="row">
                  <div class="col-md-8 offset-md-2">
                      <h2 class="title">Let's play and learn</h2>
                      <h5>At Hamster Wheel, we believe learning is a life long skill. With years of childcare and education experience, we’ve decided to bring pre-kindergarten education into the 21st century. Hamster Wheel leverages mobile gaming technology and innovation to bring learning exercises backed by years of research to your home. </h5>
                      <br />
                  </div>
              </div>
              <br /><br />
          </div>
      </div>
  </div>


  <div class="footer">
    <footer>
      <div class="copyright">
        &copy; RxControl
      </div>
    </footer>
  </div>

</div>
