<div class="index-wrapper">

  <div class="index-nav-bar">
    <div class="logo">
      <a href="/" >
        <img src="../../public/assets/images/logo3.png" alt="Logo">
      </a>
    </div>


    <div class="dev-info">
      <a href="/" style="font-weight: bold; text-decoration: none;">About Us</a>
      <div class="space-between-info"></div>
      <a href="/" style="font-weight: bold; text-decoration: none;">Contact</a>
    </div>
  </div>

  <div class="index-body-1">
    <h1>Welcome to RxControl</h1>
    <h2>Our Mission</h2>
    <p>Statement</p>
  </div>

  <div class="buttons">
    <div class="login-button">
      <a href="/pharmacist" class="button">Log In</a>
    </div>

    <div class="register-button">
      <a href="/" class="button">Register</a>
    </div>
  </div>


  <div class="footer">
    <footer>
      <div class="copyright">
        &copy; RxControl
      </div>
    </footer>
  </div>

</div>
