<!-- Navbar-->
  <nav class="navbar navbar-toggleable-md navbar-default navbar-absolute">
      <div class="container">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-bar"></span>
              <span class="navbar-toggler-bar"></span>
              <span class="navbar-toggler-bar"></span>
          </button>
          <a class="navbar-brand mb-0" href="/" style="color: #6cc091;">Rx Control</a>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                  <a href="#about" class="btn btn-link btn-neutral" style="color: #6cc091;">About Us</a>
                  <a href="#contact" class="btn btn-link btn-neutral" style="color: #6cc091;">Contact</a>
                  <a href="/signup" class="btn btn-link btn-neutral" style="color: #6cc091;">Register</a>
                  <a href="#" class="btn btn-link btn-neutral" style="color: #6cc091;">Login</a>
              </ul>
          </div>
      </div>
  </nav>
<!-- Header 1 -->
  <div class="header-3">
      <div class="page-carousel">
          <div class="filter"></div>
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active" style="background-color: #000;"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1" style="background-color: #000;"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2" style="background-color: #000;"></li>
              </ol>
              <div class="carousel-inner" role="listbox">
                  <div class="carousel-item active">
                      <div class="page-header" style="background-image: url('https://images.pexels.com/photos/415825/pexels-photo-415825.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
                          <div class="filter"></div>
                          <div class="content-center">
                              <div class="container">
                                  <div class="row">
                                      <div class="col-md-6 text-left">
                                          <img src="/img/RXlogo.png" style="width: 54%; height:105px;">
                                          <h5>RxControl is the next-generation enhanced prescription verification platform for medical professionals.</h5>
                                          <br />
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="carousel-item">
                      <div class="page-header" style="background-image: url('https://images.pexels.com/photos/806427/pexels-photo-806427.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')">
                          <div class="filter"></div>
                          <div class="content-center">
                              <div class="container">
                                  <div class="row">
                                      <div class="col-md-8 offset-2 text-center">
                                          <h1 class="title">Awesome Experiences</h1>
                                          <h5>Now you have no excuses, it's time to surprise your clients, your competitors, and why not, the world. You probably won't have a better chance to show off all your potential if it's not by designing a website for your own agency or web studio.</h5>
                                          <br />
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="carousel-item">
                      <div class="page-header" style="background-image: url('https://images.pexels.com/photos/40751/running-runner-long-distance-fitness-40751.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')">
                          <div class="filter"></div>
                          <div class="content-center">
                              <div class="container">
                                  <div class="row">
                                      <div class="col-md-7 offset-5 text-right">
                                          <h2 class="title">Premium Offers for Venice</h1>
                                          <h5>Now you have no excuses, it's time to surprise your clients, your competitors, and why not, the world. You probably won't have a better chance to show off all your potential if it's not by designing a website for your own agency or web studio.</h5>
                                          <br />
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <a class="left carousel-control carousel-control-prev" href="#carouselExampleIndicators" style="background-color: #000;"role="button" data-slide="prev">
                  <span class="fa fa-angle-left"></span>
                  <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next" style="background-color: #000;">
                  <span class="fa fa-angle-right"></span>
                  <span class="sr-only">Next</span>
              </a>
          </div>
      </div>
  </div>

<!-- Parallax -->
  <!-- <div class="index-body-1"></div> -->

<!-- Header 3 -->
  <!-- <div class="wrapper">
      <div class="section text-center landing-section">
          <div class="container">
              <div class="row">
                  <div class="col-md-8 offset-md-2">
                      <img src="/img/RXlogo.png" style="width: 28%;">
                      <br>
                      <button id="sign" type="button" class="btn btn-info btn-just-icon">Login</button>
                      <button id="sign" type="button" class="btn btn-info btn-just-icon">Sign</button>
                      <br />
                  </div>
              </div>
              <br /><br />
          </div>
      </div>
  </div> -->

<!-- About us -->
<div id="about" class="section section-dark text-center landing-section" style="background-color: #000;">
      <div class="container">
          <div class="row">
              <div class="col-md-8 offset-md-2 text-center">
                  <h2 class="title">ABOUT US</h2>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6">
                  <div class="card card-profile card-plain">
                      <div class="row">
                          <div class="col-md-5">
                              <div class="card-img-top">
                                  <a href="#">
                                      <img class="img" src="/img/Elliot.jpg" />
                                  </a>
                              </div>
                          </div>
                          <div class="col-md-7">
                              <div class="card-block text-left">
                                  <h4 class="card-title">Elliot Briant</h4>
                                  <h6 class="card-category">Lead Full-Stack Developer</h6>
                                  <p class="card-description">
                                      Elliot is currently a Web Developer based in San Francisco, CA. Elliot is a creative and ambitious software developer. He also approaches any environment as an opportunity to utilize his experience with a variety of Web-based languages and server integration.
                                  </p>
                                  <div class="card-footer text-center" style="padding-right: 57px;">
                                      <a href="https://github.com/BriantOliveira" id="git" class="btn btn-link btn-just-icon btn-github" style="color: #fff;"><i class="fa fa-github"></i></a>
                                      <a href="https://www.linkedin.com/in/briantoliveira/" class="btn btn-link btn-just-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
                                      <a href="https://www.makeschool.com/portfolio/Elliot-Briant" class="btn btn-link btn-just-icon"><img src="/img/make.png" alt="Make School" class="makeschool"><i class="icon makeschool"></i></a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="col-md-6">
                  <div class="card card-profile card-plain">
                      <div class="row">
                          <div class="col-md-5">
                              <div class="card-img-top">
                                  <a href="#">
                                      <img class="img" src="/img/kash.jpeg" />
                                  </a>
                              </div>
                          </div>
                          <div class="col-md-7">
                              <div class="card-block text-left">
                                  <h4 class="card-title">Aakash Sudhakar</h4>
                                  <h6 class="card-category">Data Engineer</h6>
                                  <p class="card-description">
                                      Aakash Sudhakar is a full-stack web developer, data science enthusiast, and former biotechnologist. Across the years, Aakash has worked with experimental nanotechnology research, next-generation medically assistive devices in an attempt to make a impactful difference in the world.
                                  <div class="card-footer text-center" style="padding-right: 57px;">
                                      <a href="https://github.com/AakashSudhakar" id="git" class="btn btn-link btn-just-icon btn-github" style="color: #fff;"><i class="fa fa-github"></i></a>
                                      <a href="https://www.linkedin.com/in/aakashsudhakar/" class="btn btn-link btn-just-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
                                      <a href="https://www.makeschool.com/portfolio/kash" class="btn btn-link btn-just-icon"><img src="/img/make.png" alt="Make School" class="makeschool"><i class="icon makeschool"></i></a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="col-md-6">
                  <div class="card card-profile card-plain">
                      <div class="row">
                          <div class="col-md-5">
                              <div class="card-img-top">
                                  <a href="#">
                                      <img class="img" src="/img/donny.jpeg" />
                                  </a>
                              </div>
                          </div>
                          <div class="col-md-7">
                              <div class="card-block text-left">
                                  <h4 class="card-title">Donnovan Adams</h4>
                                  <h6 class="card-category">Backend Developer</h6>
                                  <p class="card-description">
                                    Skilled in Full-stack development with Javascript and Python, as well as experience in the data pipeline engineering process. Donnovan loves building out a data pipline and collecting raw data up to models and neural networks; all the way to building a backend for a scalable social media site.  He is also passionate for physics and studies about black hole collisons and gravitational waves.
                                  </p>
                                  <div class="card-footer text-center" style="padding-right: 57px;">
                                      <a href="https://github.com/Doncurt" id="git" class="btn btn-link btn-just-icon btn-github" style="color: #fff;"><i class="fa fa-github"></i></a>
                                      <a href="https://www.linkedin.com/in/donovan-c-adams/" class="btn btn-link btn-just-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
                                      <a href="https://www.makeschool.com/portfolio/Donovan-Adams" class="btn btn-link btn-just-icon"><img src="/img/make.png" alt="Make School" class="makeschool"><i class="icon makeschool"></i></a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="col-md-6">
                  <div class="card card-profile card-plain">
                      <div class="row">
                          <div class="col-md-5">
                              <div class="card-img-top">
                                  <a href="#">
                                      <img class="img" src="/img/Jake.jpg" style="height: 222px;"/>
                                  </a>
                              </div>
                          </div>
                          <div class="col-md-7">
                              <div class="card-block text-left">
                                  <h4 class="card-title">Jake Tran</h4>
                                  <h6 class="card-category">Frontend Developer</h6>
                                  <p class="card-description">
                                      "Jake Tran is an aspiring Full Stack Web Developer in San Francisco. Currently studying to work as a professional in the field of Computer and technology. Adept in technology such as Nodejs, Express, SQL, React, Python and much more. He enjoys working with challenging frontend web designs and helps create a better, dynamic user experience and user interface."
                                  </p>
                                  <div class="card-footer text-center" style="padding-right: 57px;">
                                      <a href="https://github.com/jakeTran42" id="git" class="btn btn-link btn-just-icon btn-github" style="color: #fff;"><i class="fa fa-github"></i></a>
                                      <a href="https://www.linkedin.com/in/jake42/" class="btn btn-link btn-just-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
                                      <a href="https://www.makeschool.com/portfolio/jt42" class="btn btn-link btn-just-icon"><img src="/img/make.png" alt="Make School" class="makeschool"><i class="icon makeschool"></i></a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </div>


  <div class="cd-section section-white" id="projects">

      <div id="contact" class="section landing-section">
          <div class="container">
              <div class="row">
                  <div class="col-md-8 offset-md-2">
                      <h2 class="text-center">CONTACT US</h2>
                      <form class="contact-form" method="POST" action="/" role="form">
                          <div class="row">
                              <div class="col-md-6">
                                  <label>Name</label>
                                  <input name="name" class="form-control" placeholder="Name" required>
                              </div>
                              <div class="col-md-6">
                                  <label>Email</label>
                                  <input name="email" class="form-control" placeholder="Email" required>
                              </div>
                          </div>
                          <label>Message</label>
                          <textarea name="body" class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..." required></textarea>
                          <div class="row">
                              <div class="col-md-4 offset-md-4">
                                  <button class="btn btn-info btn-lg btn-fill" data-toggle="modal" data-target="#myModal" style="width: 185px;">Send Message</button>
                              </div>
                              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                  <div class="modal-dialog">
                                      <div class="modal-content">
                                             <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                       <h4 class="modal-title" id="myModalLabel">Support Team</h4>
                                              </div>
                                              <div class="modal-body">
                                                 Your message was submitted successfully!!
                                                 <br>
                                                 Our team will evaluate your message and contact you soon. Thank you!
                                              </div>
                                              <div class="modal-footer">
                                                 <div class="left-side">
                                                     <button type="button" class="btn btn-default btn-link" data-dismiss="modal" onclick="javascript:window.location.reload('/')" class="close" data-dismiss="modal" aria-hidden="true">Home</button>
                                                 </div>
                                                 <div class="divider"></div>
                                                 <div class="right-side">
                                                     <button type="button" class="btn btn-danger btn-link" data-dismiss="modal" onclick="javascript:window.location.reload('/')" class="close" data-dismiss="modal" aria-hidden="true">Close</button>
                                                 </div>
                                              </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  <div class="footer">
    <footer>
      <div class="copyright">
        &copy; RxControl
      </div>
    </footer>
  </div>
</div>
