<div class="logged-wrapper">

  <div class="log-in-nav">
    <!-- <h1>Logo</h1> -->
    <div class="icon icon-danger" style="color: #000; font-size: 40px; text-align: center; padding-bottom: 30px;">
        <i class="nc-icon nc-single-02"></i>
        <h5><b>Profile</b></h5>
    </div>
    <div class="icon icon-danger" style="color: #000; font-size: 40px; text-align: center; padding-bottom: 30px;">
        <i class="nc-icon nc-settings-gear-65"></i>
        <h5><b>Settings</b></h5>
    </div>
    <div class="icon icon-danger" style="color: #000; font-size: 40px; text-align: center; padding-bottom: 30px;">
        <i class="nc-icon nc-button-power"></i>
        <h5><b>Logout</b></h5>
    </div>
  </div>

  <div class="header-container">
      <div class="icon icon-danger" style="color: #000; font-size: 32px; padding-left: 1113px; padding-top: 19px;">
          <a href="/" style="color: #000;"><i class="nc-icon nc-layout-11"></i></a>
      </div>
  </div>


  <div class="body-container">
      <div class="icon icon-danger" style="color: #000; font-size: 32px; padding-left: 1113px; padding-top: 19px;">
          <i class="nc-icon nc-ambulance"></i>
      </div>
    <div class="search-patient">
      <form class="patient-search-input" action="/">
          <div class="input-field">
              <input id="name-field" placeholder="Enter Name" type="text" name="client-name" value="{{client-name}}">
              <span></span>
              <input id="date-field" placeholder="Enter Date of birth" type="text" name="search-date" value="{{search-date}}">
              <span></span>
          </div>
          <button id="search-submit" type="submit">Search</button>
      </form>
    </div>

  </div>
<!--
  <div class="pharmacist-footer">

  <footer>
    <div class="copyright">
      &copy; RxControl
    </div>
  </footer>

  </div> -->

</div>
