<!-- Navbar-->
  <nav class="navbar navbar-toggleable-md navbar-default navbar-absolute">
      <div class="container">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-bar"></span>
              <span class="navbar-toggler-bar"></span>
              <span class="navbar-toggler-bar"></span>
          </button>
          <a class="navbar-brand mb-0" href="/" style="color: #6cc091;">Rx Control</a>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                  <!-- <a href="#about" class="btn btn-link btn-neutral" style="color: #6cc091;">About Us</a> -->
                  <!-- <a href="#contact" class="btn btn-link btn-neutral" style="color: #6cc091;">Contact</a> -->
                  <a href="/pharmacist" class="btn btn-link btn-neutral" style="color: #6cc091;">Portal</a>
              </ul>
          </div>
      </div>
  </nav>

    <div class="wrapper">
        <div class="page-header page-header-small" style="background-image: url('https://images.pexels.com/photos/935869/pexels-photo-935869.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
            <div class="filter"></div>
        </div>
        <div class="profile-content section">
            <div class="container">
                <div class="row">
                    <div class="profile-picture">
                        <div class="fileinput fileinput-new" data-provides="fileinput">
                            <div class="fileinput-new img-no-padding">
                                <img src="/img/kash.jpeg" alt="...">
                            </div>
                            <div class="name">
                                <h4 class="title text-center">Dr. Aakash Sudhakar<br /><small>Proctologist</small></h4>
                            </div>
	                    </div>
                    </div>
                </div>
                <br/>
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#follows" role="tab">Patients</a>
                            </li>

                        </ul>
                    </div>
                </div>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="follows" role="tabpanel">
                        <div class="row">
                            <div class="col-md-6 offset-md-3">
                                <ul class="list-unstyled follows">
                                    <li>
                                        <div class="row">
                                            <div class="col-md-2 offset-md-0 col-xs-3 offset-xs-2">
                                                <img src="/img/Elliot.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                            </div>
                                            <div class="col-md-7 col-xs-4">
                                                <h6>John Doe<br/><small>Patient</small></h6>
                                            </div>
                                            <div class="col-md-3 col-xs-2">
                                                <div class="unfollow" >
                                                    <div class="checkbox">
                                                       <input id="checkbox1" type="checkbox" checked="">
                                                       <label for="checkbox1"></label>
                                                     </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <hr />
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
