<!-- Navbar-->
  <nav class="navbar navbar-toggleable-md navbar-default navbar-absolute">
      <div class="container">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-bar"></span>
              <span class="navbar-toggler-bar"></span>
              <span class="navbar-toggler-bar"></span>
          </button>
          <a class="navbar-brand mb-0" href="/" style="color: #6cc091;">Rx Control</a>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                  <a href="/./#about" class="btn btn-link btn-neutral" style="color: #6cc091;">About Us</a>
                  <a href="/./#contact" class="btn btn-link btn-neutral" style="color: #6cc091;">Contact</a>
                  <a href="/login" class="btn btn-link btn-neutral" style="color: #6cc091;">Login</a>
              </ul>
          </div>
      </div>
  </nav>

  <div class="blog-4" style="padding-top: 130px;">
      <div class="container">
          <div class="row">
              <div class="col-md-8 offset-md-2">
                  <h2 class="title text-center">Register Now</h2>
                  <br />
              </div>
          </div>
          <div class="row">
              <div class="col-md-6">
                  <div class="card card-plain card-blog text-center">
                      <div class="card-image">
                          <a href="/new-pharmacist">
                              <img class="img img-raised" src="/img/ph.jpeg" />
                          </a>
                      </div>
                      <div class="card-block">
                          <h6 class="card-category text-warning">Register as a Pharmacist</h6>
                          <h3 class="card-title">
                              <!-- <a href="/new-pharmacist">Register as a pharmacist allows you to add and view patients infomation</a> -->
                              <h3>Register as a pharmacist allows you to add and view patients infomation</h3>
                          </h3>
                          <br/>
                          <a href="/new-pharmacist" class="btn btn-warning btn-round">Start now</a>
                      </div>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="card card-plain card-blog text-center">
                      <div class="card-image">
                          <a href="/new-doctor">
                              <img class="img img-raised" src="/img/doc.jpeg" />
                          </a>
                      </div>
                      <div class="card-block">
                          <h6 class="card-category text-info">Register as a Doctor</h6>
                          <h3 class="card-title">
                              <!-- <a href="/new-doctor">Register as a doctor allows you to view patients infomation</a> -->
                              <h3>Register as a doctor allows you to view patients infomation</h3>
                          </h3>
                          <br/>
                          <a href="/new-doctor" class="btn btn-primary btn-round">Start now</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
