<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>RXControl</title>
    <link rel="stylesheet" href="../../public/css/index.css">
    <style media="screen">
        * {
          box-sizing: border-box;
          padding: 0;
          margin: 0;
          font-family: sans-serif;
        }

        form {
          margin-bottom:10px;
        }


        input {
            padding: .5em .6em;
            display: inline-block;
            border-radius: 5px 5px 0px 0px;
            vertical-align: middle;
            box-sizing: border-box;
            width:300px;
            height: 45px;
            margin-top: 20px;
            margin-bottom: 0px;
            margin-left: 10px;
            margin-right: 10px;
            /*border: none;*/
            border-left: none;
            border-right: none;
            border-bottom: 1px solid grey;
            border-top: none;
            outline: none;
            font-family: sans-serif;
            font-size: 15px;
            color: rgba(0, 0, 0, 0.5);
            font-weight: normal;

        }

        button {
            height: 45px;
            width: 150px;
            text-align: center;
            color: #fff;
            font-size: 1rem;
            font-weight: 200;
            background: transparent;
            border: 1px solid #fff;
            border-radius: 4px;
            margin: auto;
            margin-top: 20px;
            margin-bottom: 20px;
            cursor: pointer;
            transition: all 0.3s ease;
            outline: none;
            border: 1px solid #FE7880;
            color: #FE7880;
          }

    </style>
</head>
<body>

    {{{body}}}

</body>
</html>
